/* Partie footer  */

 
/* The footer is fixed to the bottom of the page */
 

 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}
/*===============================================Background=================================================================================================================================== */

body {
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

/*===============================================Flèche qui va vert le bas=================================================================================================================================== */

html {
  
  scroll-behavior: smooth;
}

a {
  
  text-decoration: none;
  color: black;
}


#godown {

  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
}

#down {
  margin-top: 0%;
  padding-bottom: 0%;
}

/*===============================================Slidder de la page =================================================================================================================================== */

#slidy-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#slidy img {
  height: 650px;
  float: left;
  width: 20%;
}

#slidy {
  z-index: -5;
  text-align: left;
  margin: 0;
  font-size: 0;
  width: 500%;
}

#slidy {
  text-align: left;
  margin: 0;
  font-size: 0;
  position: relative;
  width: 500%;
}

#slidy img {
  float: left;
  width: 20%;
}

@keyframes slidy {
  18.75% {
    left: -0%;
  }

  25% {
    left: -100%;
  }

  43.75% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  68.75% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  93.75% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

/*===============================================Menu du haut=================================================================================================================================== */


* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.header {
  height: 75px;
  background: #ffffff;
  padding: 0 20px;
  color: rgb(0, 0, 0);
}

.logo {
  line-height: 75px;
  float: right;
  text-transform: uppercase;
}

.menu {
  float: left;
  line-height: 75px;
}

.menu a {

  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: left;
}

.show-menu-btn i {
  line-height: 75px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #5c5b5b;
}

#chk {
  position: absolute;
  visibility: hidden;
}

/*===============================================LES 3 RUBRIQUES=================================================================================================================================== */


.content {
  padding: 0 20px;
}

.content img {
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}

.content p {
  text-align: justify;
}


.container {
  
  max-width: 1500px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.pricing-table {
  background: #f1f1f1;
  flex: 1;
  margin: 50px;
  text-transform: uppercase;

  border-radius: 10px;
}

.pricing-header {

  z-index: 0;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 20px;

}

.Rebr {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  border-radius: 10px;
}

.Rebr span {
  font-size: 30px;
}

.title {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.pricing-list {

  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding: 10px 20px;
}

.pricing-list li {
  margin: 8px 0;
  font-size: 14px;
  color: #344;
  text-align: center;
}

.border {
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  border: 1px solid;
  max-width: 360px;
  transition: .2s linear;
}

.pricing-table a:hover {
  border-radius: 30px;
}

.table1 .pricing-header {
  background: #02a5ce;
}

.table2 .pricing-header {
  background: #02a5ce;
}

.table3 .pricing-header {
  background: #02a5ce;
}


.table1 a {

  border-radius: 10px;
  color: #000000;
}

.table2 a {
  border-radius: 10px;
  color: #000000;
}

.table3 a {
  border-radius: 10px;
  color: #000000;
}

.table1 a:hover {
  resize: 500px;
  overflow: auto;

  border-radius: 10px;
  background: #202020;
  color: #fff;
}

.table2 a:hover {

  border-radius: 10px;
  background: #202020;
  color: #fff;
}

.table3 a:hover {

  border-radius: 10px;
  background: #202020;
  color: #fff;
}

/*=============================================== PARTIE MOBILE=================================================================================================================================== */
/*=============================================== PARTIE MOBILE=================================================================================================================================== */
/*=============================================== PARTIE MOBILE=================================================================================================================================== */


@media screen and (max-width:800px) {

	footer { position: static; }
	header { padding-top:40px; }

  /*=============================================== PARTIE DES 3 TABLEAUX=================================================================================================================================== */


  .content {
    padding: 0 20px;
  }

  .content img {
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
  }

  .content p {
    text-align: justify;
  }


  .container {
    max-width: 2000px;
    margin: auto;
    padding: 00px;
    display: flex;
    flex-wrap: wrap;
  }

  .pricing-table {
    background: #f1f1f1;
    flex: 1;
    margin: 20px;
    text-transform: uppercase;

    border-radius: 10px;
  }

  .pricing-header {

    border-radius: 10px;
    color: #fff;
    position: relative;
    margin-bottom: 20px;

  }

  .Rebr {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    border-radius: 10px;
  }

  .Rebr span {
    font-size: 30px;
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    max-width: 360px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
  }

  .pricing-list {

    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding: 10px 20px;
  }

  .pricing-list li {
    margin: 8px 0;
    font-size: 14px;
    color: #344;
    text-align: center;
  }

  .border {
    width: 100px;
    height: 1px;
    background: #ddd;
    margin: auto;
  }

  .pricing-table a {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    border: 1px solid;
    max-width: 360px;
    transition: .2s linear;
  }

  .pricing-table a:hover {
    border-radius: 30px;
  }

  .table1 .pricing-header {
    background: #02a5ce;
  }

  .table2 .pricing-header {
    background: #02a5ce;
  }

  .table3 .pricing-header {
    background: #02a5ce;
  }


  .table1 a {
    color: #2980b9;
  }

  .table2 a {
    color: #2980b9;
  }

  .table3 a {
    color: #2980b9;
  }

  .table1 a:hover {
    resize: 500px;
    overflow: auto;
    background: #2980b9;
    color: #fff;
  }

  .table2 a:hover {
    background: #2c3e50;
    color: #fff;
  }

  .table3 a:hover {
    background: #c0392b;
    color: #fff;
  }

  .pricing-table {
    flex: 100%;
  }

  /*================================================================================================================================================================================== */







  /*=============================================== Background de la page=================================================================================================================================== */

  body {
    background: linear-gradient(rgb(255, 255, 255)rgb(255, 255, 255)5));
  }

  /*=============================================== Flèche qui va vers le bas=================================================================================================================================== */

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #godown {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  #down {
    margin-top: 0%;
    padding-bottom: 0%;
  }

  /*================================================================================================================================================================================== */
  /*=============================================== PARTIE Slidder=================================================================================================================================== */


  #slidy-container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  #slidy img {
    height: 500px;
    float: left;
    width: 20%;
  }

  #slidy {

    z-index: -5;
    text-align: left;
    margin: 0;
    font-size: 0;
    width: 500%;
  }

  #slidy {
    text-align: left;
    margin: 0;
    font-size: 0;
    position: relative;
    width: 500%;
  }

  #slidy img {
    float: left;
    width: 20%;
  }

  @keyframes slidy {
    18.75% {
      left: -0%;
    }

    25% {
      left: -100%;
    }

    43.75% {
      left: -100%;
    }

    50% {
      left: -200%;
    }

    68.75% {
      left: -200%;
    }

    75% {
      left: -300%;
    }

    93.75% {
      left: -300%;
    }

    100% {
      left: -400%;
    }
  }

  #slidy {
    left: 0%;
    transform: translate3d(0, 0, 0);
    animation: 16s slidy infinite;
  }

  /*================================================================================================================================================================================== */

  /*=============================================== PARTIE Menu du haut=================================================================================================================================== */

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .menu {

    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .menu a {
    display: block;
    padding: 20px;
  }

  .hide-menu-btn {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  #chk:checked~.menu {
    right: 0;
  }


  #slider {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  #slider figure {
    position: relative;
    z-index: -5;
    width: auto;
    height: auto;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }

  #slider figure img {
    width: 20%;
    float: left;
  }

  @keyframes slider {
    0% {
      left: 0;
    }

    20% {
      left: 0;
    }

    25% {
      left: -100%;
    }

    45% {
      left: -100%;
    }

    50% {
      left: -200%;
    }

    70% {
      left: -200%;
    }

    75% {
      left: -300%;
    }

    95% {
      left: -300%;
    }

    100% {
      left: -400%;
    }
  }

  /*================================================================================================================================================================================== */


}