/*================================================================================================================================================================================== */
/*PARTIE FOOTER ==================================================*/
/*================================================================================================================================================================================== */
/* Partie footer  */
.footer-distributed {
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer partie gauche */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


/* Liens du footer */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Centre */

.footer-distributed .footer-center {
  width: 35%;
}


.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: ##97c5eb;
  text-decoration: none;
  ;
}


/* Footer partie droite */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Partie image Quali du footer */

.Quali-img {

  max-width: 1500px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.Quali-img a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  transition: .2s linear;
}

.Quali-img a:hover {
  border-radius: 30px;
}

/*================================================================================================================================================================================== */
/*BACKGROUND DE LA PAGE================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
body {
  background-image:linear-gradient(to top, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 100%),   url(img/motifs.jpg);
width: 100%;
}

/*================================================================================================================================================================================== */
/*Flèche qui va vers le bas================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
html {

  scroll-behavior: smooth;
}

/*================================================================================================================================================================================== */
/*Slidder de la page================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  
}

.section-top {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),  url(img/image_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 50s infinite;
  
}

.content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  
}

.content h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 16px;
}

.content a {
  padding: 10px 24px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  
}

p {
  font-size: 20px;
  padding: 10px;
  line-height: 24px;
}

@keyframes slide {
  0% {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),  url(img/image_1.jpg);
  }

  15% {
    background-image:linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),   url(img/image_2.jpg);
  }

  25% {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),  url(img/image_3.jpg);
  }

  35% {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),  url(img/image_4.jpg);
  }

  45% {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),  url(img/image_5.jpg);
  }

  55% {
    background-image:linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),   url(img/image_6.jpg);
  }

  65% {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%),  url(img/image_7.jpg);
  }
}

#section03 a {
  padding-top: 60px;
}

#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  
}

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 70px;
  height: 70px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
    
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
    
  }
}

/*================================================================================================================================================================================== */
/*MENU HAUT DE PAGE================================================================================================================================================================================== */
/*================================================================================================================================================================================== */

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.header {
  height: 75px;
  background: #ffffff;
  padding: 0 20px;
  color: rgb(0, 0, 0);
}

.logo {
  line-height: 75px;
  float: right;
  text-transform: uppercase;
}

.menu {
  float: right;
  line-height: 75px;
}

.menu a {

  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 75px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #5c5b5b;
}

#chk {
  position: absolute;
  visibility: hidden;
}

/*================================================================================================================================================================================== */
/*LES 3 RUBRIQUES================================================================================================================================================================================== */
/*================================================================================================================================================================================== */


a {
  text-decoration: none;
  color: black;
}

.content {
  padding: 0 20px;
}

.content img {
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}

.content p {
  text-align: justify;
  border-width: thin;
  border-style: solid;
  border-color: orange;
}


.container {

  max-width: 1500px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}



.pricing-table {
  background-repeat: no-repeat;
    background-size:cover;
    flex: 1;
    margin: 60px;
    text-transform: uppercase;
  
    border-radius: 10px;
    border-width: 2,5px;
		border-style: solid;
		border-color: black;
}

.pricing-header {

  z-index: 0;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
  border-width: 2,5px;
  border-style: solid;
  border-color: black;

}

.Rebr {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  border-radius: 10px;
}

.Rebr span {
  font-size: 17px;
}

.title {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

  
.border {
  width: 80px;
  height: 1px;
  background:black;
  margin: auto;
}

.pricing-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding: 10px 20px;
}

.pricing-list li {
  margin: 8px 0;
  font-size: 14px;
  color: #344;
  text-align: center;
}

.border {
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  transition: .2s linear;
}

.pricing-table a:hover {
  border-radius: 30px;
  border-color: black;
}

.table1 .pricing-header {
  background: white;
}

.table2 .pricing-header {
  background: white;
}

.table3 .pricing-header {
  background: white;
}



.table1 a {

  border-radius: 10px;
  color: #000000;
}

.table2 a {
  border-radius: 10px;
  color: #000000;
}

.table3 a {
  border-radius: 10px;
  color: #000000;
}

.table1 a:hover {
  resize: 500px;
  overflow: auto;

  border-radius: 10px;
  background: #ffffff;
  color: #fff;
}

.table2 a:hover {

  border-radius: 10px;
  background: #ffffff;
  color: #fff;
}

.table3 a:hover {

  border-radius: 10px;
  background: #ffffff;
  color: #fff;
}

/*================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
/*PARTIE MOBILE================================================================================================================================================================================== */
/*============================PARTIE MOBILE===================================================================================================================================================== */
/*PARTILE MOBILE================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
/*================================================================================================================================================================================== */
/*================================================================================================================================================================================== */





/*================================================================================================================================================================================== */
/*mobile screen 1100px en dessous = partie mobile================================================================================================================================================================================== */
/*================================================================================================================================================================================== */

@media screen and (max-width:1100px) {

  /*================================================================================================================================================================================== */
  /*Partie foooter ================================================================================================================================================================================== */
  /*================================================================================================================================================================================== */

  footer {
    position: static;
  }

  header {
    padding-top: 40px;
  }


  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  /*================================================================================================================================================================================== */
  /*LES 3 RUBRIQUES================================================================================================================================================================================== */
  /*================================================================================================================================================================================== */

  .content {
    padding: 0 20px;
  }

  .content img {
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
  }

  .content p {
    text-align: justify;
    border-width: thin;
		border-style: solid;
		border-color: orange;
  }


  .container {
    max-width: 1500px;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .pricing-table {
    background-repeat: no-repeat;
    background-size:cover;
    flex: 1;
    margin: 60px;
    text-transform: uppercase;
  
    border-radius: 10px;
    border-width: 2,5px;
		border-style: solid;
		border-color: black;
  }

  .pricing-header {

    z-index: 0;
    border-radius: 10px;
    color: black;
    margin-bottom: 20px;
    border-width: 2,5px;
		border-style: solid;
		border-color: black;

  }

  .Rebr {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  
    border-radius: 10px;
  }

  .Rebr span {
    font-size: 30px;
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    max-width: 360px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
  }

  .border {
    width: 80px;
    height: 1px;
    background:black;
    margin: auto;
  }
  

  .pricing-list {

    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding: 10px 20px;
  }

  .pricing-list li {
    margin: 8px 0;
    font-size: 14px;
    color: #344;
    text-align: center;
  }

  .border {
    width: 100px;
    height: 1px;
    background: #ddd;
    margin: auto;
  }

  .pricing-table a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    transition: .2s linear;
  }

  .pricing-table a:hover {
    
    border-color: black;
  }

  .table1 .pricing-header {
    background: white;
  }

  .table2 .pricing-header {
    background: white;
  }

  .table3 .pricing-header {
    background: white;
  }


  .table1 a {
    color: #ffffff;
  }

  .table2 a {
    color: #ffffff;
  }

  .table3 a {
    color: #ffffff;
  }

  .table1 a:hover {
    background: #ffffff;
    color: #fff;
  }

  .table2 a:hover {
    background: #ffffff;
    color: #fff;
  }

  .table3 a:hover {
    background: #ffffff;
    color: #fff;
  }

  .pricing-table {
    flex: 100%;
  }

  /*================================================================================================================================================================================== */
  /*Background de la page================================================================================================================================================================================== */
  /*================================================================================================================================================================================== */

  body {
   background-image: linear-gradient(to top, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 100%),   url(img/motifs.jpg);
   }


   .logo {
     position: absolute;
   }
  /*================================================================================================================================================================================== */
  /*flèche qui va vers le bas================================================================================================================================================================================== */
  /*================================================================================================================================================================================== */

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #godown {
    padding: 0.35em 1.2em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    display: block;
    margin: 0.4em auto;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  #down {
    margin-top: 0%;
    padding-bottom: 0%;
  }

  /*================================================================================================================================================================================== */
  /*Partie menu du haut================================================================================================================================================================================== */
  /*================================================================================================================================================================================== */



  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .menu {

    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .menu a {
    display: block;
    padding: 20px;
  }

  .hide-menu-btn {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  #chk:checked~.menu {
    right: 0;
  }
}
