
.header {
	position:fixed;
	left:0;
	right:0;
	height:66px;
	line-height:66px;
	background-color:#60658b;
}
.menu {
	float:left;
	text-decoration: none;
   }
.menu a {
	padding:0 10px;
	text-decoration: none;
	color:white;
}
.menu a:hover {
	color:#fdfdfd;
	text-decoration: none;
 }

html{
	height: 100%;
}
body{
	background-image:linear-gradient(#DCDCDC,50%,#404040);
}
.footer{
	position: absolute;
    bottom: 0;
    margin-left: 40%;
    color:white;
	text-align: center;
	line-height:5px;

}
.reseaux{
	position: absolute;
	bottom:0;
	color: white;

}
.image{
	width: 40px;
	height: 40px;
}
table{
	border-collapse: collapse;
	border: 2px solid black;
	background-color: white;
}

footer{
	background:#5B5B5B;
position:absolute;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}